<h1>Kittens#index</h1>

<ol>
  <% @kittens.each do |kitten| %>
    <li>
      <%= link_to kitten.name, kitten_path(kitten) %> 
    </li>
      <%= button_to 'Delete', kitten, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</ol>
